.container {
    /* Sizing /
    --headerHeight: 25rem;
    --headerPadding: 1rem;
    / Colors */
}

.container main {
    display: flex;
    flex-direction: column;

    padding: 10rem;
    border-bottom: #1b1b1b solid 2px;
    align-items: center;
    align-self: center;
    align-content: center;
}
.container main h1 {
    border-bottom: var(--fg1) solid 2px;
    width: fit-content;
    padding-inline: 1rem;

    font-size: 50px;
}
.container main ul {
    padding: 0;
    list-style: none;
    gap: 2rem;
        height: 100%;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;

        align-items: center;
        align-self: center;
        align-content: center;

}
.container main ul li p {
    margin-block: .5rem;
    line-height: 1.4;
    min-height: 2rem;
}
.incImg {
    position: relative;
    width: 100%;
    height: 15rem;
}
.sources {
    padding: .5rem;
}
.sources div {

    display: flex;
    flex-direction: row;
    gap: 1rem;

}
.sources h3 {
    font-size: 25px;
    margin: 0;
    margin-bottom: .5rem;
    color: #dfdfdf
}
.sources a {
    color: rgb(0, 0, 0);
    background-color: #dfdfdf;
    padding: .5rem;
    border-radius: 1rem;
    gap: 1rem;
    font-size: 20px;
    max-width: fit-content;
    height: fit-content;
    }
.question span {
    font-size: 25px;
}
.question {
    font-size: 18px;
    padding: .5rem;
    background-color: var(--fg1);
    color: var(--fgt);
    margin: 0;
}
.reference span {
    font-size: 25px;
}
.reference {
    font-size: 18px;
    padding: .5rem;
    background-color: rgb(10, 135, 207);
    color: white;
}
.container main ul li h2 {


    display: flex;
    color: white;
    background-color: red;
    border-radius: 50%;
        width: 5rem;
        height: 5rem;
        text-align: center;
        font-size: 35px;
        align-items: center;
        justify-content: center;
}
.container main ul li p a {
    color: red;
    text-decoration: underline;
}

.container main ul li {
    font-size: 30px;
    min-width: 28rem;
    max-width: 45rem;
    border-bottom: #dfdfdf 2px solid;
}


.container header {
    padding: var(--headerPadding);
    width: 100%;
    display: flex;
}
.container header .bg {
    position: relative;
    z-index: 0;
    width: 100%;
}
.container header div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.container section {
    background-color: rgba(0, 0, 0, 0.418);
    padding: var(--headerPadding);
}
.container header section h1 {
    font-size: 45px;
}